<link rel="import" href="../elements/nav.html">
<link rel="import" href="../elements/footer.html">

<dom-module id="coming-soon">
    <style>
        #home{
            background: url(../assets/images/cover.jpg);
        }
    </style>

    <template>
        <section id="home" class="pfblock-image screen-height">
            <div class="home-overlay"></div>
            <div class="intro">
                <h1>Coming soon</h1>
                <div><a href="/#home">Back</a></div>
            </div>

        </section>
    </template>
    <script>
        Polymer({
            is : 'coming-soon',
            properties: {
            },
            attached : function() {

                /* ---------------------------------------------- /*
                 * Home BG
                 /* ---------------------------------------------- */

                $(".screen-height").height($(window).height());

                $(window).resize(function() {
                    $(".screen-height").height($(window).height());
                });

                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i
                        .test(navigator.userAgent)) {
                    $('#home').css({
                        'background-attachment' : 'scroll'
                    });
                } else {
                    $('#home').parallax('50%', 0.1);
                }
            }
        });
    </script>
</dom-module>